{% extends "layouts/base/base.html" %}
{% block title %}
	Product Categories
{% endblock %}

{% block content %}

    <div class="container">
        <button id="open-category-dialog" class="btn btn-success btn-sm float-end" style="margin-top: 20px">Create</button>
    </div>

    <div id="category-form-dialog" class="modal-dialog-centered" style="display:none;">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h4 class="modal-title">Create Product Category</h4>
                <button type="button" class="btn-close" id="close-category-dialog" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="categoryForm" action="{% url 'product_category_create' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            {% for field in form %}
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-success btn-sm" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Filter-->
    <div class="container-fluid">
        <h4>Filter categories by name:</h4>
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="text" id="categorySearch" class="form-control" placeholder="Search categories...">
            </div>
        </div>
    </div>

    <div class="text-center rounded-3 p-1 shadow-lg text-white custom-border" style="margin-top: 20px">
        <table class="table" id="category-table">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product_category in product_categories %}

                    <tr data-category-name="{{ product_category.category }}">
                        <td>{{ product_category.category }}</td>
                        <td>
                            <a class="btn btn-danger btn-sm" href="{% url 'product_category_delete' pk=product_category.id %}">Delete</a>
                            <a class="btn btn-outline-warning btn-sm" href="{% url 'product_category_update' pk=product_category.id %}">Modify</a>
                        </td>
                    </tr>

                {% empty %}
                    <h3>No product categories to display</h3>
                {% endfor %}
            </tbody>

        </table>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const openCategoryDialogButton = document.getElementById('open-category-dialog');
            const closeCategoryDialogButton = document.getElementById('close-category-dialog');
            const categoryFormDialog = document.getElementById('category-form-dialog');

            if (openCategoryDialogButton && closeCategoryDialogButton && categoryFormDialog) {
                openCategoryDialogButton.addEventListener('click', function() {
                    categoryFormDialog.style.display = 'block';
                });

                closeCategoryDialogButton.addEventListener('click', function() {
                    categoryFormDialog.style.display = 'none';
                });
            }

            feather.replace(); // Replace Feather icons
        });
    </script>
        {# Filtro #}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const categorySearch = document.getElementById('categorySearch');
        const categoryRow = document.querySelectorAll('#category-table tbody tr');

        categorySearch.addEventListener('input', function() {
            const searchTerm = this.value.toLowerCase();

            categoryRow.forEach(row => {
                const categoryname = row.dataset.categoryName.toLowerCase();
                if (categoryname.includes(searchTerm)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
    </script>
{% endblock %}

