{% extends "layouts/base/base.html" %}
{% load static %}
{% block title %}
	Delete Confirmation: {{ product_category.category }}
{% endblock %}


{% block content %}
	<h1>Are you sure you want to delete: {{ product_category.category }}?</h1>

    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger btn-sm" value="Confirm Delete">
        <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{% url 'product_category_list' %}'">Cancel</button>
    </form>

{% endblock %}