{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- ✅ Responsivo -->
    <title>{% block title %}{% endblock %}</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Plugins css -->
    <link href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css" />

    <!-- Theme Config Js -->
    <script src="{% static 'assets/js/head.js' %}"></script>

    <!-- Bootstrap css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

    <!-- App css -->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Icons css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Custom css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />

    {% block styles %}{% endblock %}
</head>
<body>

    {% include 'layouts/partials/navbar.html' %}

    <div class="d-flex flex-column min-vh-100">
        <div class="d-flex flex-grow-1 flex-wrap"> <!-- ✅ wrap para pantallas pequeñas -->

            <!-- Menu lateral -->
            <div id="app-menu" class="app-menu">
                <div class="logo-box">
                    <a href="{% url 'index' %}" class="logo-dark">
                        <img src="{% static 'assets/images/logo-dark.png'%}" alt="dark logo" class="logo-lg">
                        <img src="{% static 'assets/images/logo-sm.png'%}" alt="small logo" class="logo-sm">
                    </a>
                </div>

                <div class="scrollbar">
                    <ul class="menu">
                        <li class="menu-title">{% trans "Business Management" %}</li>
                        {% if perms.inventory_management.view_product %}
                            <li class="menu-item">
                                <a href="{% url 'product_list' %}" class="menu-link">
                                    <span class="menu-icon"><i class="bi bi-basket"></i></span>
                                    <span class="menu-text">{% trans "Products" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.inventory_management.view_worker %}
                            <li class="menu-item">
                                <a href="{% url 'worker_list' %}" class="menu-link">
                                    <span class="menu-icon"><i data-feather="users"></i></span>
                                    <span class="menu-text">{% trans "Workers" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.inventory_management.view_cart %}
                            <li class="menu-item">
                                <a href="{% url 'cart_list' %}" class="menu-link">
                                    <span class="menu-icon"><i data-feather="shopping-cart"></i></span>
                                    <span class="menu-text">{% trans "Carts" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.inventory_management.view_chargecart %}
                            <li class="menu-item">
                                <a href="{% url 'charge_cart_list' %}" class="menu-link">
                                    <span class="menu-icon"><i data-feather="package"></i></span>
                                    <span class="menu-text">{% trans "Cart Loads" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.inventory_management.products.view_dailypartcart %}
                            <li class="menu-item">
                                <a href="{% url 'daily_part_cart_list' %}" class="menu-link">
                                    <span class="menu-icon"><img src="{% static 'assets/libs/bootstrap-icons/icons/clipboard.svg' %}" alt="Clipboard"></span>
                                    <span class="menu-text">{% trans "Daily Part Cart" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.inventory_management.view_dailypart %}
                            <li class="menu-item">
                                <a href="{% url 'daily_part_list' %}" class="menu-link">
                                    <span class="menu-icon"><img src="{% static 'assets/libs/bootstrap-icons/icons/clipboard2-check.svg' %}" alt="Clipboard"></span>
                                    <span class="menu-text">{% trans "Daily Part" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.inventory_management.view_wastagerecord %}
                            <li class="menu-item">
                                <a href="{% url 'wastage_record_list' %}" class="menu-link">
                                    <span class="menu-icon"><i class="bi bi-bag-x"></i></span>
                                    <span class="menu-text">{% trans "Wastage Records" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.inventory_management.view_store %}
                            <li class="menu-item">
                                <a href="{% url 'store_detail' %}" class="menu-link">
                                    <span class="menu-icon"><i data-feather="archive"></i></span>
                                    <span class="menu-text">{% trans "Store" %}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    {% if perms.inventory_management.view_customuser %}
                        <ul class="menu">
                            <li class="menu-title">{% trans "User Control" %}</li>
                            <li class="menu-item">
                                <a href="{% url 'custom_user_list' %}" class="menu-link">
                                    <span class="menu-icon"><i class="mdi mdi-account-multiple"></i></span>
                                    <span class="menu-text">Users</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}

                    <ul class="menu">
                        <li class="menu-title">{% trans "Reports" %}</li>
                    </ul>
                </div>
            </div>
            <!-- Fin menu -->

            <!-- Contenido principal -->
            <div class="main-content flex-grow-1">
                <div class="page-content">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor js -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/libs/selectize/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard-1.init.js' %}"></script>

    {% block scripts %}
    <script src="{% static 'assets/js/toggle-menu-action/toggle-menu-action.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
    {% endblock %}
</body>
</html>
