{% load static %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if product.image != null and product.image.url != "" %}
                <img src="{{ product.image.url }}" class="product-image" alt="Product image">

            {% else %}
                <img src="{% static 'assets/images/no-image.jpg' %}" class="product-image" alt="Product image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="{% url 'product_detail' pk=product.id %}">
                    <h5 class="card-title">{{ product.name }}</h5>
                </a>
                <p class="card-text">Price: ${{ product.price }}</p>
                <p class="card-text">Stock: {{ product.stock }}</p>
                <p class="card-text">Amount: {{ product.amount }}</p>
            </div>
        </div>
    </div>
</div>

