{% extends "layouts/base/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans "Create User" %}
{% endblock %}

{% block content %}

    <button class="btn btn-info btn-sm"><a href="{% url 'custom_user_list' %}">{% trans "Back" %}</a></button>
    <div>
        <form action="" class="form-control" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success btn-sm" value="{% trans "Submit" %}">
        </form>
    </div>

{% endblock %}