{% extends "layouts/base/base.html" %}
{% load static %}

{% block title %}
	Create User
{% endblock %}

{% block content %}

    <button class="btn btn-info btn-sm"><a href="{% url 'custom_user_list' %}">Back</a></button>
    <div>
        <form action="" class="form-control" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success btn-sm" value="Submit">
        </form>
    </div>

{% endblock %}