{% extends "layouts/base/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans "Confirm User Deleting:"%}
{% endblock %}

{% block content %}

    <h1>{% trans "Are you sure you want to delete the user:" %} {{ user.username }}?</h1>

    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger btn-sm" value="{% trans "Confirm Delete" %}">
        <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{% url 'custom_user_list' %}'">{% trans "Cancel" %}</button>
    </form>

{% endblock %}