{% extends "layouts/base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "User List" %}
{% endblock %}

{% block styles %}
	<style>
        .modal-dialog-centered {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .modal-body {
            max-height: 80vh; /* Limita la altura del contenido del modal */
            overflow-y: auto; /* Habilita el scroll si el contenido excede la altura */
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <button id="open-user-dialog" class="btn btn-success btn-sm float-end" style="margin-top: 20px">{% trans "Create" %}</button>
</div>

    <!--New Client Modal-->

{% include 'layouts/partials/new_client_modal.html' %}
<!--Filter-->
<div class="container-fluid">
    <h4>{% trans "Filter users by name or username:" %}</h4>
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" id="categorySearch" class="form-control" placeholder="{% trans "Search users..." %}">
        </div>
    </div>
</div>
<div class="text-center rounded-3 p-1 shadow-lg text-white custom-border" style="margin-top: 20px">
    <table class="table" id="category-table">
        <thead>
            <tr>
                <th scope="col">{% trans "ID Number" %}</th>
                <th scope="col">{% trans "User Name" %}</th>
                <th scope="col">{% trans "Email" %}</th>
                <th scope="col">{% trans "First Name" %}</th>
                <th scope="col">{% trans "Last Name" %}</th>
                <th scope="col">{% trans "Group" %}</th>
                <th scope="col">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr data-category-name="{{ user.first_name }}" data-user-name="{{ user.username }}">
                    <td>{{ user.id_number }}</td>
                    <td><a href="{% url 'custom_user_detail' pk=user.id %}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.groups.all.0.name }}</td>
                    <td>
                        {% if perms.charge_cart.add_cart %}
                        	<a class="btn btn-danger btn-sm" href="{% url 'custom_user_delete' pk=user.id %}">{% trans "Delete" %}</a>
                        {% endif %}
                        <a class="btn btn-outline-warning btn-sm" href="{% url 'custom_user_update' pk=user.id %}">{% trans "Modify" %}</a>
                    </td>
                </tr>
            {% empty %}
                <h3>{% trans "No users to display" %}</h3>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modalContent = document.getElementById('modal-form-content');
        const userFormDialog = document.getElementById('user-form-dialog');

        // Cargar el formulario al abrir el modal
        document.getElementById('open-user-dialog').addEventListener('click', function() {
            fetch("{% url 'custom_user_form' %}")
                .then(response => response.json())
                .then(data => {
                    modalContent.innerHTML = data.html;
                    const modal = new bootstrap.Modal(userFormDialog);
                    modal.show();
                });
        });

        const clearErrors = (form) => {
            const errorMessages = form.querySelectorAll('.invalid-feedback');
            errorMessages.forEach(error => error.remove()); // Eliminar mensajes de error

            const invalidInputs = form.querySelectorAll('.is-invalid');
            invalidInputs.forEach(input => input.classList.remove('is-invalid')); // Remover clase 'is-invalid'
        };

        // Manejar el envío del formulario
        modalContent.addEventListener('submit', function(event) {
            event.preventDefault();
            const form = event.target;

            fetch("{% url 'custom_user_form' %}", {
                method: 'POST',
                body: new FormData(form),
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload(); // Recargar la página si se crea el usuario
                } else {

                    clearErrors(form);
                    // Mostrar errores en el formulario
                    for (const [field, errors] of Object.entries(data.errors)) {
                        const input = form.querySelector(`[name="${field}"]`);
                        if (input) {
                            const errorDiv = document.createElement('div');
                            errorDiv.classList.add('invalid-feedback', 'd-block');
                            errorDiv.textContent = errors[0].message;
                            input.classList.add('is-invalid');
                            input.parentNode.appendChild(errorDiv);
                        }
                    }
                }
            });
        });
    });

</script>
    {# Filtro #}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const categorySearch = document.getElementById('categorySearch');
    const categoryRow = document.querySelectorAll('#category-table tbody tr');

    categorySearch.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();

        categoryRow.forEach(row => {
            const categoryname = row.dataset.categoryName.toLowerCase();
            const username = row.dataset.userName.toLowerCase();
            if (categoryname.includes(searchTerm) || username.includes(searchTerm)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock %}