.update-btn {
  background-color: #007bff; /* Color azul */
  color: white; /* Color blanco para el texto */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Redondea las esquinas */
}

.update-btn:hover {
  background-color: #0056b3; /* Cambia el color al pasar el mouse */
}
