{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet " href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/btns-styles.css' %}">

</head>
<body>

    <div class="main-div">
        <h1 class="alert-danger" style="color: red">{% trans "Access Denied" %}</h1>
    </div>


</body>
</html>