{% extends "layouts/base/base.html" %}
{% load static %}

{% block title %}
    Daily Part Cart: {{ daily_part_cart.id }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ps-xl-3 mt-3 mt-xl-0">
                            <h4 class="mb-3">Worker: 
                                <span class="text-body me-2">{{ daily_part_cart.worker.name }}</span>
                            </h4>
                            <h4 class="mb-3">Cart: 
                                <span class="text-body me-2">{{ daily_part_cart.cart.id }}</span>
                            </h4>
                            <h4 class="mb-3">Payment: 
                                <span class="text-body me-2">${{ daily_part_cart.worker_payment }} CUP</span>
                            </h4>
                            {% if daily_part_cart.date %}
                                <h4 class="mb-3">Date: 
                                    <span class="text-body me-2">{{ daily_part_cart.date }}</span>
                                </h4>
                            {% else %}
                                <h4>Date: <span class="text-muted">Not provided</span></h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->

<div class="mt-3 d-flex gap-2">
    <a class="btn btn-success btn-sm" href="{% url 'charge_cart_list_by_daily' daily_part_cart.id %}">
        Crear / Ver Cargas de Carretilla
    </a>
    {% if is_admin %}
        <a class="btn btn-danger btn-sm" href="{% url 'daily_part_cart_delete' pk=daily_part_cart.id %}">Delete</a>
        <a class="btn btn-outline-warning btn-sm" href="{% url 'daily_part_cart_update' pk=daily_part_cart.id %}">Modify</a>
    {% endif %}
    <a class="btn btn-secondary btn-sm" href="{% url 'daily_part_cart_list' %}">Back</a>
</div>

{% endblock %}
