{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet " href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/btns-styles.css' %}">

</head>
<body>
    <div class="form-check">
        <h1 class="header-title">You've just logged out</h1>
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a class="button" href="{% url 'login' %}">Login again</a>
    </div>
</body>
</html>