{% load i18n %}
<form id="userForm" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            {% for field in form %}
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success btn-sm">{% trans "Submit" %}</button>
    </div>
</form>