{% load i18n %}

{% csrf_token %}
<div class="container">
    <div class="row">
        {% for field in form %}
            <div class="col-md-4 mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback" id="error_{{ field.name }}"></div>
            </div>
        {% endfor %}
    </div>
</div>
