{% load i18n %}
{% load static %}
<!-- Footer Start -->
<footer class="footer mt-auto py-3 bg-light" style="margin-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div><script>document.write(new Date().getFullYear())</script> © La Carretilla</div>
            </div>
            <div class="col-md-6">
                <div class="d-none d-md-flex gap-4 align-item-center justify-content-md-end footer-links">
                    <a href="javascript: void(0);">{% trans "Acerca de nosotros" %}</a>
                    <a href="javascript: void(0);">{% trans "Supporte" %}</a>
                    <a href="javascript: void(0);">{% trans "Contactarnos" %}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->