{% load i18n %}


<div id="user-form-dialog" class="modal fade" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">{% trans "User Form" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                <div id="modal-form-content">
                    <!-- Form content will be loaded here via AJAX -->
                </div>
            </div>
        </div>
    </div>
</div>