{% extends "layouts/base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Daily Part Cart" %}
{% endblock %}

{% block content %}

{% if messages %}
<div class="container mt-2">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
        setTimeout(() => {
            alert.style.transition = "opacity 0.5s ease";
            alert.style.opacity = 0;
            setTimeout(() => alert.remove(), 500); // elimina del DOM
        }, 3000); // desaparece después de 3 segundos
    });
});
</script>
{% endif %}

    <a class="btn btn-secondary btn-sm" href="{% url 'daily_part_list' %}" style="margin-bottom: 20px; margin-top: 20px">{% trans "Back"%}</a>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ps-xl-3 mt-3 mt-xl-0">
                                <h4 class="mb-3">{% trans "Date"%}: <span class="text-body me-2">{{ daily_part.date }}</span></h4>
                                <h4 class="mb-4">{% trans "Returned Money Total" %}: <span class="text-body me-2">${{ daily_part.money_return_total }} CUP</span></h4>
                                <h4 class="mb-4">{% trans "Net Profit" %}: <span class="text-body me-2">${{ daily_part.net_profit }} CUP</span></h4>
                                <h4 class="mb-4">{% trans "Status"%}: <span class="text-body me-2">{{ daily_part.get_status_display }}</span></h4>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->

    <div class="row"><h1>{% trans "All daily part carts of the day" %}:</h1></div>

    <div class="container-fluid mt-3 mb-3">
    <form method="get" class="row g-2 align-items-center">
        <div class="col-md-6">
            <input type="text" 
                   name="search" 
                   class="form-control" 
                   placeholder="{% trans "Search worker..." %}"
                   value="{{ search_term }}">
        </div>

        <div class="col-md-4  align-items-center">
            <select class="form-select" name="order_by" onchange="this.form.submit()">
                <option value="">{% trans "-- Order by --" %}</option>
                <option value="worker" {% if current_order == 'worker' %}selected{% endif %}>{% trans "Worker" %}</option>
                <option value="cart" {% if current_order == 'cart' %}selected{% endif %}>{% trans "Cart" %}</option>
                <option value="money_return_total" {% if current_order == 'money_return_total' %}selected{% endif %}>{% trans "Returned Money Total" %}</option>
                <option value="net_profit" {% if current_order == 'net_profit' %}selected{% endif %}>{% trans "Net Profit" %}</option>
                <option value="worker_payment" {% if current_order == 'worker_payment' %}selected{% endif %}>{% trans "Worker Payment" %}</option>
                <option value="revenue" {% if current_order == 'revenue' %}selected{% endif %}>{% trans "Revenue" %}</option>
                <option value="date" {% if current_order == 'date' %}selected{% endif %}>{% trans "Date" %}</option>
                <option value="status" {% if current_order == 'status' %}selected{% endif %}>{% trans "Status" %}</option>
            </select>
        </div>

        {% if perms.daily_part_cart.add_dailypartcart %}
            {% if daily_part.status == 'finalizado' %}
                <div  class="col-md-2 align-items-center">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{% trans "Today's Daily Part finished, you cant add a Daily Part Cart. " %}" style="cursor: not-allowed;">
                      <a href="{% url 'daily_part_cart_create' %}" class="btn btn-success btn-sm float-end disabled" tabindex="-1" aria-disabled="true" style="pointer-events: none;">
                          {% trans "Create Daily Part Cart" %}
                      </a>
                    </span>
                </div>

            {% else %}
                <div  class="col-md-2 align-items-center">
                    <span class="d-inline-block" tabindex="0">
                        <a href="{% url 'daily_part_cart_create' %}" class="btn btn-success btn-sm float-end">
                            {% trans "Create Daily Part Cart" %}
                        </a>
                    </span>
                </div>


            {% endif %}

        {% endif %}
    </form>
</div>

{% if daily_part_carts %}
    <table class="table" id="daily-part-cart-table">
        <thead>
            <tr>
                <th scope="col">{% trans "Worker" %}</th>
                <th scope="col">{% trans "Cart" %}</th>
                <th scope="col">{% trans "Returned Money Total" %}</th>
                <th scope="col">{% trans "Net Profit" %}</th>
                <th scope="col">{% trans "Worker Payment" %}</th>
                <th scope="col">{% trans "Revenue" %}</th>
                <th scope="col">{% trans "Date" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th scope="col">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for part in daily_part_carts %}
                <tr data-worker-name="{{ part.worker.name }}">
                    <td>{{ part.worker.name }}</td>
                    <td>{{ part.cart.id }}</td>
                    <td>${{ part.money_return_total }}</td>
                    <td>${{ part.net_profit }}</td>
                    <td>${{ part.worker_payment }}</td>
                    <td>${{ part.revenue }}</td>
                    <td>{{ part.date }}</td>
                    <td>{{ part.get_status_display }}</td>
                    <td>
                        <div class="btn-group d-flex" role="group" aria-label="acciones">
                            <a class="btn btn-outline-info btn-sm me-1" href="{% url 'daily_part_cart_detail' pk=part.pk %}">{% trans "Details" %}</a>

                            {% if perms.daily_part_cart.change_dailypartcart and part.status != "finalizado" %}
                                <a class="btn btn-outline-warning btn-sm me-1" href="{% url 'daily_part_cart_update' pk=part.pk %}">{% trans "Modify" %}</a>
                            {% endif %}

                            {% if part.status == "trabajando" %}
                                <form method="post" action="{% url 'daily_part_cart_finish' part.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-success btn-sm">{% trans "Finish Daily Part Cart" %}</button>
                                </form>
                            {% endif %}
                        </div>
                    </td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>{% trans "There is no records to show" %}</h3>
{% endif %}

</div> 

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        const searchInput = document.querySelector('input[name="search"]');
        const rows = document.querySelectorAll('#daily-part-cart-table tbody tr');

        if (searchInput) {
            searchInput.addEventListener('input', function() {
                const term = this.value.toLowerCase();
                rows.forEach(row => {
                    const workerName = row.dataset.workerName.toLowerCase();
                    row.style.display = workerName.includes(term) ? '' : 'none';
                });
            });
        }

        feather.replace(); 
    });

    {# tool tips trigger #}
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
     })

</script>
{% endblock %}
